---
import Challenges from "@components/Challenges.astro";
import Layout from "@layouts/Layout.astro";
import es from "src/i18n/es.json";
import challengesJson from "../challenges/challenges.json";
import RandomChallengeCard from "@components/RandomChallengeCard.astro";

export const getStaticPaths = async () => {
  const paths = [{ params: { lang: "es" } }];
  return paths;
};

const langData = es;
const length = challengesJson.length;
const randomChallenge = Math.floor(Math.random() * length) + 1;
---

<Layout lang={"es"}>
  <main
    class="text-[#f7f7f7] md:w-[1000px] flex flex-col justify-center items-center p-2 pt-10 gap-10"
  >
    <h1 class="md:text-5xl text-2xl font-bold">
      ยก<span class="text-[#f2cc67]">{langData?.greetings.yellow}</span>
      {langData?.greetings.white}
    </h1>
    <RandomChallengeCard randomChallenge={randomChallenge} />
    <Challenges langData={langData} />
  </main>
</Layout>
