---
import challenges from "src/challenges/challenges.json";
import ChallengeCard from "./ChallengeCard.astro";
const { langData } = Astro.props;
---

<section class="flex flex-col gap-10 justify-center items-center">
  <h2 class="underline">{langData.challenges.title}</h2>
  <div
    class="flex flex-col md:grid md:grid-cols-3 md:grid-rows-3 md:w-[1000px] w-[300px] gap-2"
  >
    {
      challenges.map((challenge) => {
        return <ChallengeCard challenge={challenge} />;
      })
    }
  </div>
</section>
