<footer
  class="flex items-center justify-center h-16 bg-gray-800 text-white w-full gap-2"
>
  <p>Hecho por</p>
  <a
    class="text-[#f2cc67]"
    href="https://ulises-larrabe-portfolio.vercel.app/"
    target="_blank">Ulises Alejandro Larrabe</a
  >
</footer>
