---
import RandomIcon from "../icons/RandomIcon.astro";
import challengesJson from "../challenges/challenges.json";

const length = challengesJson.length;
const randomChallenge = Math.floor(Math.random() * length) + 1;
---

<a
  href={`es/challenges/${randomChallenge}`}
  class="flex gap-2 justify-center items-center p-2 bg-[#4883fe] text-white rounded-md hover:opacity-80"
>
  <RandomIcon />
  Empezar
</a>
