---
import LinkRandomChallenge from "./LinkRandomChallenge.astro";
---

<article
  class="flex justify-center flex-col p-4 border-2 border-[#4883fe] rounded-lg gap-4 h-[200px]"
>
  <h2 class="text-[#4883fe] font-semibold text-2xl">
    ¿No sabes con cual empezar?
  </h2>
  <p class="text-[#6a9afe]">Entonces comienza con un reto al azar!</p>
  <LinkRandomChallenge server:defer />
</article>
